<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>공사일보 - 인력 현황</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        table {
            border-collapse: collapse;
            width: calc(183px * 15);
            table-layout: fixed;
        }
        th, td {
            width: 183;
            height: 43px;
            text-align: center;
            font-size: 22px;
            word-wrap: break-word;
        }
        th {
            background-color: #f2f2f2;
        }
        h2 {
            display: flex;
            justify-content: center; /* 가로 중앙 정렬 */
            align-items: center; /* 세로 중앙 정렬 */
            text-align: center;
            width: calc(183px * 15);
            height: 170px;
            border: 1px solid black; /* 제목에 border 추가 */
            padding: 0;
            margin: 0;
            font-size: 60px;
            box-sizing: border-box; /* padding과 border를 폭에 포함 */
        }

        /* 날짜 선택 스타일을 일반 텍스트처럼 */
        input[type="date"] {
            font-size: 22px;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }

        /* 작업현황 스타일 */
        .work-item {
            text-align: left; /* 좌측 정렬 */
            padding-left: 10px; /* 약간의 여백 추가 */
            line-height: 43px; /* 각 줄마다 높이 43px 할당 */
        }

        /* 공종을 빨간색으로 스타일링 */
        .trade-highlight {
            color: red;
        }

        table {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h2>공사일보</h2>
    <table>
        <!-- 공사명, 날짜, 날씨 -->
        <tr>
            <td colspan="12" style="border: 1px solid black;">공사명: <%= siteName %></td>
            <td colspan="3" style="border: 1px solid black;">
                날짜:
                <input type="date" id="selectedDate" value="<%= workDate %>" onchange="updateDate()">
            </td> 
        </tr>
        <tr>
            <td colspan="2" style="border: 1px solid black;">날씨: <%= weather %></td>
            <td colspan="2" style="border-right: none;">최저 기온: <%= lowTemp %></td>
            <td colspan="11" style="text-align:left; padding-left: 20px; border-left: none;">최고 기온: <%= highTemp %></td>
        </tr>

        <!-- 자재, 장비 및 업체 현황 헤더 -->
        <tr>
            <th colspan="7" style="background-color: #cececee8; border: 1px solid black;">전 일 작 업 현 황</th>
            <th colspan="8" style="background-color: #cececee8; border: 1px solid black;">금 일 작 업 현 황</th>
        </tr>

        <!-- 전일과 금일 작업 현황 데이터 -->
        <% for (let i = 0; i < maxRows; i++) { %>
            <tr> <!-- 수평선 없는 행 -->
                <!-- 전일 작업 현황 -->
                <td colspan="7" style="height: 43px; border-right: 1px solid black;">
                    <% if (i < previousWorkDetails.length && previousWorkDetails[i].companyDetails) { %>
                        <div class="work-item">
                            <span class="trade-highlight">[<%= previousWorkDetails[i].companyDetails.trade %>]</span> (<%= previousWorkDetails[i].companyDetails.company %>)
                          <br>
                          <%= previousWorkDetails[i].description || '-' %> <!-- 전일 작업 내용 -->
                        </div>
                      <% } else { %>
                        &nbsp; <!-- 빈칸 -->
                    <% } %>
                </td>
    
                <!-- 금일 작업 현황 -->
                <td colspan="8" style="height: 43px;">
                    <% if (i < workDetails.length && workDetails[i].companyDetails) { %>
                        <div class="work-item">
                            <span class="trade-highlight">[<%= workDetails[i].companyDetails.trade %>]</span> (<%= workDetails[i].companyDetails.company %>)
                            <br>
                            <%= workDetails[i].description || '-' %> <!-- 금일 작업 내용 -->
                        </div>
                    <% } else { %>
                        &nbsp; <!-- 빈칸 -->
                    <% } %>
                </td>
            </tr>
        <% } %>

        <!-- 빈칸 채우기 -->
        <% const emptyRows = 0; %> <!-- 빈칸 줄의 수를 조정할 수 있는 변수 -->
        <% for (let i = 0; i < emptyRows; i++) { %>
        <tr> <!-- 수평선 없는 빈칸 -->
            <td colspan="7" style="height: 43px; border-right: 1px solid black;">&nbsp;</td>
            <td colspan="8" style="height: 43px;">&nbsp;</td>
        </tr>
        <% } %>

    </table>
                
    <script>
        function updateDate() {
          var selectedDate = document.getElementById('selectedDate').value;
          // 날짜 변경 시 'WorkStatusFinalPaper' 페이지로 리다이렉트
          window.location.href = `/WorkStatusFinalPaper?date=${selectedDate}`;
        }
    </script>
</body>
</html>
